@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px;}
#global_header {
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 9999;
	background: url(images/blue_bg.png) 0px 0px repeat-x;
	height: 34px;
}
#global_header .header_bar {
	width: 960px;
	margin: 0 auto;
	height: 32px;
	position: relative;
	z-index: 100;
}
.header_bar .header_logo {
	float: left;
	margin-top: -2px;
}
.header_bar .logo_top {
	width: 120px;
	height: 32px;
	display: block;
	background: url(images/logo.png) no-repeat 0 2px;
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	line-height: 40px;
}
.header_bar .logo_top span {
	margin-left: 30px;
}

.top_search {
    float: left;
    margin-left: 200px;
    margin-top: 5px;
}
.top_search .txt_search {
    float: left;
    border: 0 none;
    color: #939393;
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    width: 148px;
    background: #f2f2f7;
}

.top_search .btn_search {
    float: left;
    width: 22px;
    height: 22px;
    border: 0 none;
    cursor: pointer;
	background: #E6E7E8 url(images/search_zoom.png) 3px 5px no-repeat;
}

.user_login {
	float: right;
	margin-right:2px;
}

.user_login li {
	height:32px;
	line-height:32px;
	width:80px;
	list-style:none;
    float: left;
    position: relative;
	text-align:center;
}
.user_login li a{
	text-decoration: none;
	color: #FFF;
}
.user_login li:hover{ background-color:#4892c4; }

